include ../../mixins/block-reveal-text.pug


section(class="section  h-[31.25rem] md:h-screen grid grid-cols-1  home-section-3 flex flex-col" data-scroll data-scroll-class="is-inview")
    svg(viewBox="0 0 1440 320" width="100%" class="h-[3rem] md:h-[10rem]" preserveAspectRatio="none")
        path(d="M0,128L80,154.7C160,181,320,235,480,266.7C640,299,800,309,960,272C1120,235,1280,149,1360,106.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z")
    div(class="flex absolute h-full w-full" data-scroll data-scroll-speed="-3" data-scroll-direction="vertical")
        img(src="./media/banner/0.jpg" class="h-full w-full" alt="")    
    div(class="container flex justify-center  my-auto")
        h2(class="xxl-font text-center")
        +BLOCKREVEAL(
            'Relax. Savour. Enjoy.',
            'h2',
            'xxl-font  text-center'
        )
    svg(viewBox="0 0 1440 320" width="100%" class="h-[3rem] md:h-[10rem]"  preserveAspectRatio="none")
        path(d="M0,320L80,288C160,256,320,192,480,165.3C640,139,800,149,960,181.3C1120,213,1280,267,1360,293.3L1440,320L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z")

    

    


