include ../../mixins/call-to-action.pug

section(class="section home-section-6 relative")
    div(class="container py-[10rem]")
        div(class="grid grid-cols-1 gap-[4rem]")
            div(class="flex flex-col mx-auto")
                h3(class="md-font text-center max-w-[30ch]")
                    |Mabel Estate self-catered accommodation makes
                    |it easy to soak in all the sights, flavours and colour of the Beach & Hills.                     
            div(class="mx-auto") 
                +CTA("book a accomodation")         
    div(class="content h-full md:h-[60rem] overflow-hidden")
        img(src="./media/banner/bg-3.jpg"  data-scroll data-scroll-speed="-3" data-scroll-direction="vertical" alt="")