// Abstracts
@use '../abstracts/' as *;

/* Icons */

section{
    &.section{
        .swiper{
            .swiper-pagination{
                position: relative;
                .swiper-pagination-bullet{
                    background: transparent;
                    width: rem(17);
                    height: rem(17);
                    border: rem(3) solid ss-var($colors,neutral,'black');
                    opacity: 1;
                    margin:0 rem(20);
                    border-radius: 50%;
                    &.swiper-pagination-bullet-active{
                        background: ss-var($colors,neutral,'black');
                        width: rem(15);
                        height: rem(15);
                    }
                }
                
            }
            .swiper-button-prev, .swiper-button-next{
                top: 0;
                width: auto;
                height: 100%;

                &::after{
                    display: none;
                }
            }
        }
    .navigation {
        display: flex;
        vertical-align: middle;
        height: 100%;

        .prev,
        .next {
                font-size: 3em;
                display: inline-block;
                width: 5em;
                height: 5em;
                position: relative;
                overflow: hidden;
                margin: 0  rem(-60);
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 25%;
                right: 25%;
                top: 50%;
                height: rem(2);
                background-color: ss-var($colors,primary,'primary1');
                transition: background-color 0.2s ease-out;
            }

            &:hover {
            &::before,
            &::after {
                background-color: ss-var($colors,primary,'primary2');
            }
            }
        }

        /* Prev arrow */
        .prev {
            &::before {
            transform-origin: 0 100%;
            transform: rotate(45deg);
            }
            &::after {
            transform-origin: 0 0;
            transform: rotate(-45deg);
            }
        }

        /* Next arrow */
        .next {
            &::before {
            transform-origin: 100% 0;
            transform: rotate(45deg);
            }
            &::after {
            transform-origin: 100% 100%;
            transform: rotate(-45deg);
            }
        }
    }
    }
   

   
    &.portfolio-section-6{
        .swiper{
            .navigation{
            .prev,
            .next{
                margin:auto rem(-60)
            }
        }
        }
    }
}