// Abstracts
@use '../abstracts' as *;

/* Header */

.annoucment-header{
    @extend %gradient-bg;
    
}
header{      
    .pure-toggle-label{
        position: absolute;
        transform: translate(-50% , -50%);
        width: 0;
        height: 0;
    }
    .nav{
        ul{
            li{
                a{
                    &:hover{
                        color: ss-var($colors,primary,'primary1');
                    }
                }
            }
        }
    }
}
.offcanvas{
    .pure-drawer{
        background: ss-var($colors,primary,'primary2');
        li a{
            text-decoration: none;
            font-family: $font-Mclassic; 

            &:hover{
                text-decoration: none;

            }
        }
    }
}












