// Abstracts
@use "../abstracts/" as *;

/* ========== */
/* Typography */
/* ========== */

// Google Fonts Import
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* Standart mobile first typography */
@include font-sizes(3.2rem, 2.6rem, 2.2rem, 1.8rem, 1.6rem);

/* Mobile typography fixes for small screens: 320px ~ 360px */
@include breakpoint-between(ss-var($breakpoints, "320") , ss-var($breakpoints, "360")) {
    @include font-sizes(3rem, 2.4rem, 2rem, 1.6rem, 1.4rem);
}

/* Tablet typography: 768px+ */
@include breakpoint-min(ss-var($breakpoints, "768")) {
    @include font-sizes(3.2rem, 2.6rem, 2.2rem, 1.8rem, 1.6rem);
}

/* Tablet typography: 1024px+ */
@include breakpoint-min(ss-var($breakpoints, "1024")) {
    @include font-sizes(4rem, 3.2rem, 2.4rem, 1.8rem, 1.6rem);
}

/* Computer typography: 1280px+ */
@include breakpoint-min(ss-var($breakpoints, "1280")) {
    @include font-sizes(4rem, 3.2rem, 2.4rem, 1.8rem, 1.6rem);
}

/* Computer typography: 1440px+ */
@include breakpoint-min(ss-var($breakpoints, "1440")) {
    @include font-sizes(4.4rem, 3.4rem, 2.6rem, 1.8rem, 1.6rem);
}

/* Computer typography: 1920px+ */
@include breakpoint-min(ss-var($breakpoints, "1920")) {
    @include font-sizes(4.8rem, 3.6rem, 2.8rem, 1.8rem, 1.6rem);
}

/* Computer typography: 2560px+ */
@include breakpoint-min(ss-var($breakpoints, "2560")) {
    @include font-sizes(4.8rem, 3.8rem, 3rem, 2rem, 1.8rem);
}





.link-font{
  @apply  
  no-underline
  capitalize;
  font-family: $font-playfair; 
  font-size: $nav-link;   
}
.link-font:hover{
     @apply no-underline;
}

.xxl-font{
    @apply text-[4rem] 
    md:text-[8rem];
    color: ss-var($colors,neutral,'white');
    mix-blend-mode: difference;
    font-family: $font-Mclassic; 
}

.xl-font,
.lg-font {
    @apply  text-[3rem]
    md:text-[5rem]
    uppercase
    leading-[1.2];
    font-family: $font-Mclassic; 
}

.md-font{
    @apply 
    text-[3rem]
    font-medium
    capitalize;
    font-family: $font-Mclassic;  
}

.sm-font {
    @apply text-[3.5rem] md:text-[5.5rem]
    italic 
    leading-none;    
    font-family: $font-aveline; 
}

.body-font {
    @apply text-[1.4rem] md:text-[2rem]
    font-extralight
    capitalize
    tracking-normal;
    font-family: $font-raleway;
     span{
        @apply text-[1.4rem]
        lowercase
        tracking-normal
        md:text-[2rem];
    }  
}



.highlight-font,
.field-font {
   color: ss-var($colors,neutral,'white') 
}

.direction {
}

