extends ../base.pug

block content
    include ./components/about/section-1.pug
    include ./components/about/section-2.pug
    include ./components/about/section-3.pug
    include ./components/about/section-4.pug
    include ./components/about/section-5.pug
