
extends ../base.pug
block namespace
  - var name = "contact"
block content
    include ./components/contact/section-1.pug
    include ./components/contact/section-2.pug
    include ./components/contact/section-3.pug