extends ../base.pug
block content
    include ./components/home/section-1.pug
    include ./components/home/section-2.pug
    include ./components/home/section-3.pug
    include ./components/home/section-4.pug
    include ./components/home/section-5.pug
    include ./components/home/section-6.pug
    include ./components/home/section-7.pug


          
        