

extends ../base.pug
  
block content
    include ./components/portfolio/section-1.pug
    include ./components/portfolio/section-2.pug
    include ./components/portfolio/section-3.pug
    include ./components/portfolio/section-4.pug
    include ./components/portfolio/section-5.pug
    include ./components/portfolio/section-6.pug
    include ./components/portfolio/section-7.pug
    include ./components/portfolio/section-8.pug


