                
mixin BRTEXT(title,classParent="")
    p(data-splitting="words" class="animation-block body-font max-w-[70ch]"+" "+classParent data-scroll data-scroll-class="is-inview") #{title}
             
                
                
                
                
                
                
                
