mixin CTA(text,center='',fullwidth='')
  a(href="#" class=`call-to-action-card fade-in  ${center} ${fullwidth}` data-scroll data-scroll-class="is-inview" ) 
    button(class=`link-font w-full`) #{text}  