include ./call-to-action.pug

mixin PCARD(title, paragraph, tag)
  div(class="card-2 w-full sm:w-fit gap-[4rem] fade-in" data-scroll data-scroll-class="is-inview" data-scroll-repeat="true")
    #{tag}(class="lg-font text-center break-words")
      each word, i in title.split(' ')
        | #{word}
        if i !== title.split(' ').length - 1
          br
    p(class="body-font text-center max-w-[30ch]") #{paragraph}
    +CTA("book now")
