mixin LINK(title,url)  
    a(class="link-reveal my-auto" href=url)
            span(class="link-mask")
                div(class="link-container")
                    h4(class="link-title-1 link-font") #{title}
                    h4(class="link-title-2 link-font") #{title}