    
div(class="swiper testimonial relative")
    div(class="swiper-wrapper")
    
        - for (let i = 0; i < 4 ; ++i) {
            div(class="swiper-slide")
                div(class="flex flex-col gap-[3rem]")
                    p(class="sm-font text-center max-w-[20ch] mx-auto") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste quisquam quibusdam esse, voluptates consequatur ad tempore cum, ducimus sapiente eius itaque reiciendis a aspernatur repellat aliquam deserunt voluptatibus. Qui, pariatur.
                    span(class="published body-font mx-auto flex w-fit") Joe Smith, April 2023
        - }
       
    div(class="swiper-pagination py-[2rem]")
                 
    div(class="swiper-button-prev")
        div(class="navigation")
            a(rel="prev" class="prev") 
    div(class="swiper-button-next")
        div(class="navigation")
            a(rel="next" class="next") 

    

