@use '../abstracts' as *;

/* ======== */
/* Home CSS */
/* ======== */



section{
    &.about-section-1{
        .about-section-1-slider{
            .swiper-wrapper{
                  transition-timing-function: linear;

                .swiper-slide{
                    img{
                        border-top-left-radius: rem(260);
                        border-top-right-radius: rem(260);
                    }
                }
            }
        }
    }
    &.about-section-3{
        svg{
            position: absolute;
            right: 0;
            bottom: 0;
            path{
                fill: ss-var($colors,primary,'primary2');
            }
        }
            
    }
   
}

