// Abstracts
@use '../abstracts' as *;

/* ======== */
/* Home CSS */
/* ======== */



section{
    &.home-section-1{
        .container{
            @apply p-[2rem] md:p-0;
            .grid{
                > div {
                     &:nth-child(2){
                        @apply gap-[3rem] p-0 md:pl-[14rem] md:pr-[2rem];
                    }
                }
        
            }
        }
       
        .shape-divider{
            position: relative;
            z-index: 3;
            overflow: hidden;

            path{           
                @extend %wave-bg;
            }
        }
    }
    &.home-section-2{
        background:ss-var($colors,'primary','primary2');
        svg{
            path{
                @extend %wave-bg;
            }
        }

    }
    &.home-section-3{
        position: relative;
        overflow: hidden;
        .container{
            z-index: 3;
            .xxl-font{
                .char{
                    color: ss-var($colors,'primary','primary4');
                }
            }
        }
        @extend %center;

     

        &.is-inview::before {
            opacity: 1;
            clip-path: circle(150% at 50% 50%);
            transform: scale(1);
        }

    svg{
        z-index: 2; 
        path{
            fill: ss-var($colors,'primary','primary2');
        }
    }
    }
    &.home-section-4{

        svg{
            path{
                 @extend %wave-bg;
            }
        }
    }
    &.home-section-5{
        position: relative;
        background: url('../media/banner/bg-3.jpg') no-repeat center/cover;
        .xxl-font{
            @extend %xxl-font;
        }
        svg {
            position: relative;   
            z-index: 3;           
            @extend %wave-bg;
        }
        .container{
            z-index: 3;   
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0; 
            z-index: 1;
            @extend %gadinet-bg;
         }


              
    }
    &.home-section-6{
        position: relative;  
    }
   
    
}
