// Abstracts
@use '../abstracts' as *;

/* ======== */
/* Home CSS */
/* ======== */



section{
    &.home-section-1{

        .container{
            z-index: 2;
        }
        .shape-divider{
            position: relative;
            z-index: 3;
            overflow: hidden;

            path{           
                @extend %wave-bg;
            }
        }
    }
    &.home-section-2{
        svg{
            path{
                @extend %wave-bg;
            }
        }

    }
    &.home-section-3{
        @extend %center;

        position: relative;
        overflow: hidden;

         &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: 
          
            url('../media/banner/bg-1.jpg') no-repeat center center;
            background-size: cover;
            z-index: -1; 
            @extend %clip-path;
        }

        &.is-inview::before {
            opacity: 1;
            clip-path: circle(150% at 50% 50%);
            transform: scale(1);
        }

    svg{
        position: absolute;
        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            bottom: 0;
        }
        path{
            fill: ss-var($colors,'primary','primary2');
        }
    }
    }
    &.home-section-4{

        svg{
            path{
                 @extend %wave-bg;
            }
        }
    }
    &.home-section-5{
        position: relative;
        background: url('../media/banner/bg-3.jpg') no-repeat center/cover;
        .xxl-font{
            @extend %xxl-font;
            span{
                color: ss-var($colors,neutral,'black');
            }
        }
        svg {
            position: relative;   
            z-index: 3;           
            @extend %wave-bg;
        }
        .container{
            z-index: 3;   
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0; 
            z-index: 1;
            background: linear-gradient(to bottom, rgb(242, 234, 225) 20%, rgba(242, 234, 225, 0.8) 47%, rgb(242, 234, 225) 90%)
         }


              
    }
    &.home-section-6{
        position: relative;  
    }
    &.home-section-7{
    }
    
}
