section(class="section about-section-3 relative")
    svg( viewBox="0 -4 27 4")
        path( d='M0 0 27 0V-4C22-4 8-4 0 0')

    div(class="container pb-[10rem]")
        div(class="grid  grid-cols-1 md:grid-cols-2")
            div(class="left p-[2rem] md:p-[6.125rem]")
                div(class="grid grid-cols-1 gap-[3rem]")
                    h3(class="md-font  max-w-[30ch] text-center")
                        |Offering bed & breakfast accommodation in the beautiful Henley Beach.
                    p(class="body-font text-center")
                        | At Mabel Estate, we've blended the calming coastal vibes with the inviting comfort of
                        | a self-contained villa. Mabel Estate was once an old fisherman's haven, reborn in 2015 
                        |into a cozy retreat that whispers the serenity of the nearby waves. 

                    p(class="body-font text-center")
                        | Mabel Estate encapsulates the best of hills & beach, we invite you
                        | to savor the allure of the coast and hills. Experience the captivating
                        | seaside tranquility while being a heartbeat away from the charming hillside 
                        | landscape, creating unforgettable memories at our beachside sanctuary.

                    p(class="body-font text-center")
                        | We eagerly await the opportunity to host you at Mabel Estate, where the beach and hills 
                        | embrace, providing you with a personalised retreat at the edge of both worlds. 

                    h3(class="sm-font text-center") Joe & Jack

            div(class="right")
                img(src="./media/banner/bg-1.jpg " class="h-full"  alt="")