section(class="section about-section-2")
    div(class="container py-[10rem]")
        div(class="grid grid-cols-1 gap-[6rem]")
            div(class="flex flex-col mx-auto")
                h3(class="md-font text-center max-w-[30ch]")
                    |Mabel Estate self-catered accommodation makes
                    |it easy to soak in all the sights, flavours and colour of the Beach & Hills.                     
            