include ../../mixins/call-to-action.pug

section(class="section about-section-4")
    div(class="container py-[10rem]")
        div(class="grid grid-cols-1 gap-[4rem]")
            div()
                h3(class="md-font mx-auto  max-w-[40ch] text-center")
                    |Offering bed & breakfast accommodation in the beautiful Henley Beach.
            div(class="mx-auto")
                +CTA('Book Accommodation')    
