doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title #{htmlWebpackPlugin.options.title}
body(data-barba="wrapper")
  div(class="smooth-scroll")
    section(class="preloader")
      h2(data-splitting="chars" class="preloader-title") yhoma
    include  ../../src/views/partials/header.pug
    block namespace
      - var name = "default"
    main(data-barba="container" data-barba-namespace=name)
      block content

    include  ../../src/views/partials/footer.pug

