div(class="annoucment-header")
    p(class="highlight-font mx-auto w-fit py-[2rem] body-font") <a class="body-font underline-text">Book Now</a>  on Airbnb | 20% Winter Special now on!
header(class="py-[6.125rem]")
    div(class="container")
        div(class="logo")
        div(class="nav")
            ul(class="flex gap-[5rem] ml-auto w-fit") 
                li 
                    a(href="#" class="link-font") Home
                li 
                    a(href="#" class="link-font") Porfolio
                li 
                    a(href="#" class="link-font") About
                li 
                    a(href="#" class="link-font") Contact
                li
                    a(href="#" class="primary-button link-font") get in touch 