include ../../views/pages/mixins/navlink.pug

section(class="annoucment-header")
    div(class="container")
        p(class="highlight-font mx-auto w-fit text-center py-[2rem] body-font") <a class="body-font underline-text">Book Now</a>  on Airbnb | 20% Winter Special now on!

header(class="py-[6.125rem]")
    div(class="container")
        div(class="logo")
        div(class="nav flex")
            ul(class="hidden md:flex gap-[5rem] ml-auto w-fit") 
                li(class="flex")
                    +LINK(
                        'home',
                        'index.html'
                    )
                li(class="flex") 
                    +LINK(
                        'portfolio',
                        'portfolio.html'
                    )
                li(class="flex") 
                    +LINK(
                        'about',
                        'about.html'
                    )
                li(class="flex") 
                    +LINK(
                        'contact',
                        'contact.html'
                    )
                li(class="flex modal-li"  onclick="cta_quick_contact.showModal()")
                    a(class="call-to-action link-font") get in touch 
            div(class="flex justify-end md:hidden w-full") 
                div(class="menu-toggle relative z-10")
                        .hamburger
                            span
                            span
                            span
                        .cross
                            span
                            span
section(class="pure-container offcanvas" data-effect='pure-effect-fade')
    input(id="pure-toggle-left" class="pure-toggle" type='checkbox' data-toggle='left')
    div(class="pure-drawer flex" data-position='left')
        div(class="container flex my-auto")
            div(class="grid grid-cols-1 w-full h-fit")
                ul(class="grid grid-cols-1 gap-[3rem]" data-barba-prevent="all")
                    li 
                        a(href="index.html" class="md-font") home
                    li 
                        a(href="portfolio.html" class="md-font") portfolio
                    li 
                        a(href="about.html" class="md-font") about 
                    li 
                        a(href="contact.html" class="md-font") contact              
    label(class="pure-overlay" for='pure-toggle-left' data-overlay='left')


dialog(id="cta_quick_contact" class="cta-quick-form-modal modal")
    section(class="contact-modal modal-box max-w-[70%]")
        div(class="grid grid-cols-1 md:grid-cols-[40%_auto]")
            div(class="flex my-auto")
                img(src="./media/banner/4.jpg"  alt="")
            div(class="flex p-[2rem] w-full")
                include ../pages/mixins/form.pug
        form(method='dialog' class="absolute")
            button(class="btn") 
                svg( viewbox='0 0 64 64')
                    g
                    g
                    g
                        line(x1='16' y1='16' x2='48' y2='48')
                        line(x1='48' y1='16' x2='16' y2='48')

    
