section(class="section portfolio-section-4 pt-[10rem]")
    h2(class="lg-font flex mx-auto text-center w-fit") Mabel's self-catered <br>  apartment
    div(class="content")
        svg(viewBox="0 0 1440 320")
            path( d="M0,32L60,48C120,64,240,96,360,106.7C480,117,600,107,720,90.7C840,75,960,53,1080,58.7C1200,64,1320,96,1380,112L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z")
        div(class="grid grid-cols-1 md:grid-cols-2")
                    div(class="p-[2rem] md:p-[13.125rem]  order-2 md:order-1  flex flex-col gap-[4rem]")
                        div(class="flex flex-col gap-[2rem]")
                            h3(class="md-font") Bedrooms
                            p(class="body-font") 
                                |Awaken revitalised and basking in the bliss of luxuriously bedrooms
                            ul(class="list-disc")
                                li(class="body-font")  3 king size beds, 2 king single beds             
                                li(class="body-font")  Bridgewater Hotel            
                                li(class="body-font")  Electric blankets
                                li(class="body-font")  Luxury bed linen       
                                li(class="body-font")  Flat-screen TV
                                li(class="body-font")  Reverse-cycle A/C & ceiling fan
                        div(class="flex")
                            +CTA("thing to do")      
                    div(class="flex order-1 md:order-2")
                        img(src="./media/banner/bg-2.png", class="w-full h-full" alt="")
                    div(class="flex order-3")
                        img(src="./media/banner/bg-1.jpg", class="w-full h-full" alt="")
                    div(class="flex flex-col gap-[4rem] order-4")            
                        div(class="white p-[2rem] md:p-[13.125rem] flex flex-col gap-[4rem]")
                            div(class="flex flex-col gap-[2rem]") 
                                h3(class="md-font") Bedrooms
                                p(class="body-font") 
                                    | Unwind and embrace the welcoming ambiance of this inviting sanctuary.

                                ul(class="list-disc")
                                    li(class="body-font")  LED flat-screen TV          
                                    li(class="body-font")  Additional cushions & throw rugs            
                                    li(class="body-font")  Ample storage and hanging space
                                    li(class="body-font")  Reverse-cycle A/C & ceiling fan       
                                    li(class="body-font")  Cot & highchair available on request
                                    li(class="body-font")  Books and games
                                    li(class="body-font")  Free WiFi
                            div(class="flex")
                                +CTA("thing to do")  
        div(class="grid grid-cols-1 md:grid-cols-2")
                    div(class="p-[2rem] md:p-[13.125rem] order-2 md:order-1  flex flex-col gap-[4rem]")
                        div(class="flex flex-col gap-[2rem]")
                            h3(class="md-font") Bedrooms
                            p(class="body-font") 
                                |Awaken revitalised and basking in the bliss of luxuriously bedrooms
                            ul(class="list-disc")
                                li(class="body-font")  3 king size beds, 2 king single beds             
                                li(class="body-font")  Bridgewater Hotel            
                                li(class="body-font")  Electric blankets
                                li(class="body-font")  Luxury bed linen       
                                li(class="body-font")  Flat-screen TV
                                li(class="body-font")  Reverse-cycle A/C & ceiling fan
                        div(class="flex")
                            +CTA("thing to do")      
                    div(class="flex order-1 md:order-2")
                        img(src="./media/banner/bg-2.png", class="w-full h-full" alt="")
                    div(class="flex order-3")
                        img(src="./media/banner/bg-1.jpg", class="w-full h-full" alt="")
                    div(class="flex flex-col gap-[4rem] order-4")            
                        div(class="white p-[2rem] md:p-[13.125rem] flex flex-col gap-[4rem]")
                            div(class="flex flex-col gap-[2rem]") 
                                h3(class="md-font") Bedrooms
                                p(class="body-font") 
                                    | Unwind and embrace the welcoming ambiance of this inviting sanctuary.

                                ul(class="list-disc")
                                    li(class="body-font")  LED flat-screen TV          
                                    li(class="body-font")  Additional cushions & throw rugs            
                                    li(class="body-font")  Ample storage and hanging space
                                    li(class="body-font")  Reverse-cycle A/C & ceiling fan       
                                    li(class="body-font")  Cot & highchair available on request
                                    li(class="body-font")  Books and games
                                    li(class="body-font")  Free WiFi
                            div(class="flex")
                                +CTA("thing to do")    
        div(class="grid grid-cols-1 md:grid-cols-2")
                    div(class="p-[2rem] md:p-[13.125rem]  order-2 md:order-1  flex flex-col gap-[4rem]")
                        div(class="flex flex-col gap-[2rem]")
                            h3(class="md-font") Bedrooms
                            p(class="body-font") 
                                |Awaken revitalised and basking in the bliss of luxuriously bedrooms
                            ul(class="list-disc")
                                li(class="body-font")  3 king size beds, 2 king single beds             
                                li(class="body-font")  Bridgewater Hotel            
                                li(class="body-font")  Electric blankets
                                li(class="body-font")  Luxury bed linen       
                                li(class="body-font")  Flat-screen TV
                                li(class="body-font")  Reverse-cycle A/C & ceiling fan
                        div(class="flex")
                            +CTA("thing to do")      
                    div(class="flex order-1 md:order-2")
                        img(src="./media/banner/bg-2.png", class="w-full h-full" alt="")
                    div(class="flex order-3")
                        img(src="./media/banner/bg-1.jpg", class="w-full h-full" alt="")
                    div(class="flex flex-col gap-[4rem] order-4")            
                        div(class="white p-[2rem] md:p-[13.125rem] flex flex-col gap-[4rem]")
                            div(class="flex flex-col gap-[2rem]") 
                                h3(class="md-font") Bedrooms
                                p(class="body-font") 
                                    | Unwind and embrace the welcoming ambiance of this inviting sanctuary.

                                ul(class="list-disc")
                                    li(class="body-font")  LED flat-screen TV          
                                    li(class="body-font")  Additional cushions & throw rugs            
                                    li(class="body-font")  Ample storage and hanging space
                                    li(class="body-font")  Reverse-cycle A/C & ceiling fan       
                                    li(class="body-font")  Cot & highchair available on request
                                    li(class="body-font")  Books and games
                                    li(class="body-font")  Free WiFi
                            div(class="flex")
                                +CTA("thing to do")