section(class="section portfolio-section-2 relative")
    div(class="container pb-[10rem]")
        div(class="flex")
            h3(class="lg-font text-center py-[10rem] mx-auto max-w-[30ch]") Explore Henley Beach from Mabel Estate’s convenient location.
        div(class="grid  grid-cols-1 md:grid-cols-2")
            div(class="left px-[2rem] md:px-[6.125rem] py-[8rem]  md:py-[12rem]")
                div(class="grid grid-cols-1 gap-[3rem]")
                    h3(class="md-font  max-w-[30ch] text-center")
                        |Facilities for the ultimate in holiday accommodation.
                    p(class="body-font text-center")
                        | Beach Studio sleeps up to 8 guests, with plenty of room for everyone to
                        | stretch out, indoors and out. Bright and airy, this 3-bedroom apartment is 
                        | beautifully styled in contemporary colours featuring charming details and 
                        | climate control throughout.
            div(class="right")
                img(src="./media/banner/bg-1.jpg " class="h-full"  alt="")