include ../../mixins/feature-icon.pug

section(class="section portfolio-section-3 relative")
    div(class="grid  grid-cols-1 md:grid-cols-4  py-[10rem]")
        +FICON(
            'wifi',
            'I’m a paragraph. Double click me or click Edit Text, its easy',
            './media/icons/wifi.svg',
        )
        +FICON(
            'pool',
            'I’m a paragraph. Double click me or click Edit Text, its easy',
            './media/icons/pool.svg',
        )
        +FICON(
            '2 bedroom',
            'I’m a paragraph. Double click me or click Edit Text, its easy',
            './media/icons/bedroom.svg',
        )
        +FICON(
            '2 bathroom',
            'I’m a paragraph. Double click me or click Edit Text, its easy',
            './media/icons/bathroom.svg',
        )