section(class="section contact-section-2")
    div(class="container py-[2rem] md:py-[10rem] flex flex-col gap-[3rem]")
        h2(class="lg-font text-center") Questions about Beach Studio’s self-contained Airbnb apartments?
        p(class="body-font text-center") Send a message below and we’ll be back to you within 24 hours. 

