include ../../mixins/call-to-action.pug

section(class="section contact-section-1 h-[31.25rem] md:h-screen")
    div(class="container flex flex-col h-full justify-center items-center gap-[4rem]")
        h1(class="xxl-font text-center") Contact Yhoma Estate
        div(class="mx-auto w-fit")
            +CTA('view more')
